.start {
    -fx-background-radius: 20;
    -fx-border-color: #008000;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-pref-height: 40;
    -fx-pref-width: 175;
    -fx-font-size: 18px;
}

.stop {
    -fx-background-radius: 20;
    -fx-border-color: #800033;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-pref-height: 40;
    -fx-pref-width: 175;
    -fx-font-size: 18px;
}

.fault_reset {
    -fx-background-radius: 20;
    -fx-border-color: #dd571c;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-pref-height: 40;
    -fx-pref-width: 175;
    -fx-font-size: 18px;
}

.default {
    -fx-background-radius: 20;
    -fx-pref-height: 40;
    -fx-pref-width: 175;
    -fx-font-size: 18px;
}