.invalid {
    -fx-max-width: 125;
    -fx-pref-height: 30;
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-border-color: #BD0000;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

.default {
    -fx-max-width: 125;
    -fx-pref-height: 30;
    -fx-font-size: 18px;
    -fx-alignment: center;
}